:root{
  --primary-color: #1976d2;
}
.App {
  text-align: center;
}
body{
  background: #e9e9e9
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container-fluid {
  margin-top: 4em
}

.loading {
  color: #1976d2;
  position: absolute;
  top: 50%;
  left: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p, h3, h1, h2, h4, h5 {
  width: fit-content;
  text-align: left;
}

/* ellipse */

/* styles for '...' */
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden !important;
  /* for set '...' in absolute position */
  position: relative !important;
  /* use this value to count block height */
  line-height: 1.4em !important;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 2.8em !important;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify !important;

  /* */
  margin-right: -1em !important;
  padding-right: 1em !important;
}
.block-with-text:before {
  /* points in the end */
  content: '...' !important;
  /* absolute position */
  position: absolute !important;
  /* set position to right bottom corner of block */
  right: 0 !important;
  bottom: 0 !important;
}
.block-with-text:after {
  /* points in the end */
  content: '' !important;
  /* absolute position */
  position: absolute !important;
  /* set position to right bottom corner of text */
  right: 0 !important;
  width: 1em !important;
  /* set width and height */
  height: 1em !important;
  margin-top: 0.2em !important;
  background: white !important;
}

.jobTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%
}

.avatar {
  height: 10em
}

.pay-btn {
  border: none;
  color: var(--primary-color);
  font-size: 0.875rem;
  text-transform: uppercase;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  letter-spacing: 0.02857em;
  line-height: 1.75;
  width: 100%;
}
.pay-btn:hover {
  background: #61dafb;
}
